<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>            
            <purchaseorder>
                <active>0</active>
                <model>Magento\OfflinePayments\Model\Purchaseorder</model>
                <order_status>pending</order_status>
                <title>Purchase Order</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </purchaseorder>    
            
            <free>
                <group>offline</group>
            </free>
        </payment>
    </default>
</config>
