<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_payment_save_before">
        <observer name="save_bank_infos" instance="Magento\AdditionalPayment\Observer\SaveOrderObserver"/>
    </event>
    <event name="sales_order_save_after">
	    <observer name="additionalpayment_sales_order_save_after" instance="Magento\AdditionalPayment\Observer\Sales\Order\AfterOrder" />
	</event>
</config>